.poster{
    position:relative;
    margin:40px auto;
    overflow:hidden;
}

.poster-itmes{
    list-style:none;
}

.poster-item{
    position:absolute;
    left:0;
    right:0;
}
.poster-item img{
    width:100%;
    height:100%;
}

.poster-btn{
   position:absolute;
   cursor:pointer;
   border-radius:4px;
}

.btn-prev{
    left:0;
    background: #000 url(./image/btn_l.png) no-repeat center center;
    opacity:0.5;
}

.btn-next{
    right:0;
    background:#000 url(./image/btn_r.png) no-repeat center center;
    opacity:0.5
}